
main{
    font-size: 12px;
    display: grid;
    grid-template-rows: 2fr 3fr 3fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "hd hd hd hd"
    "ct ct ct ct"
    "fo fo fo fo"
}

header {
    border: 1px solid black;
    grid-area: hd;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo , .sign-up{
    margin: 0 2em 0 2em;
}
menu{
    display: flex;
    justify-content: center;
    margin-top: 0.1em;
}

ul > li {
    display: inline;
}


.text-header{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 10px;
    

}



section{
    border: 1px solid black;
    grid-area: ct;
}

footer{
    border: 1px solid black;
    grid-area: fo;
    display: grid;
    grid-template-rows: 3fr 3fr 1fr;
    grid-template-columns: auto;
    grid-template-areas: "con con con con" "so so so so"
    "im im im im ";
}

.contact{
    grid-area: con;
}

.social{
    grid-area: so;
}

.impressum{
    grid-area: im;
}